<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img src="images/camera.png" alt="selfie">
    <br> Always a pleasure to give you all the details you need from your selfie!
  </p>
  <button class="btn btn-lg btn-success" ng-click="qualityFunc()">Selfie me please</button>
</div>
<div class="row marketing">
<video id="video" autoplay></video>
<canvas id="canvas" style="display:none;" width="600" height="400"></canvas>

  <!-- <h2>Show me the Rating</h2>
  <p>
    {{rating}}
  </p> -->  
  <p id="googleMap"></p>
  <!-- <h2>What type of place is It?</h2>
  <p>{{types}}</p> -->
  <button class="btn btn-lg btn-danger" ng-click="savePlaces(x)">Save this moment</button>
</div>
