<div class="jumbotron">
  <h1>My Places!</h1>
  <p class="lead">
    <img src="images/camera.png" alt="selfie">
</div>
<div class="row marketing">
  <table class="table">
    <tbody>
      <tr>
        <th>Place</th>
        <th>Photo</th>
        <th>Type</th>
        <th></th>
      </tr>
      <tr ng-repeat="item in $storage track by $index">
        <td>{{item.rating}} </td>   
        <td>       
        <img src="{{item.image}}" height="100" width="100">         
       </td> 
        <td>{{item.types}} <span class="glyphicon glyphicon-remove" ng-click="deletePlaces()"></span></td>
        <td>
         <button type="button" class="btn btn-default btn-sm" ng-click="downloads(item.image)">
          <span class="glyphicon glyphicon-download"></span>
        </button>
        </td>
       
      </tr>
    </tbody>
  </table>
</div>
